.header {
    width: 100%;
    height: 50px;
    background-color: #36AEB0;
    display: flex;
    flex-direction: row;
    z-index:1;

  }

.header .headerTitle {
    flex: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    padding-left: 670px;
}

.header .headerUser {
    flex: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}