@import 
url('https://fonts.googleapis.com/css2?family=Lato&display=swap');  

.sidebar {
    height: 100%;
    width: 350px;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 100px;
    background-color: #D9D9D9;
    
    }
    
    .sidebar-text{
      font-family: Lato, sans-serif;
      color: black;
      
      padding-left: 50px;
      font-size: 20px;
      display: block;
    }
    
    .sidebar-category{
      font-size: 20px;
      font-family: Lato, sans-serif;
      padding-left: 10px;
    color: black;
    opacity: 50%;
    }