@import 
url('https://fonts.googleapis.com/css2?family=Lato&display=swap');  

:root {
    --primary: #3e48a9;
    --accent: #f9bbd0;
    --text-primary: #ffffff;
    --text-accent: #000000;
    --text-subtle: #000000;
    --text-link: #003469;
}


.form-content{

  margin: auto;
  margin-top:100px;
  width: 50%;
  border: 3px solid #D9D9D9;
  padding: 10px;
 
  text-align: center;
  font-family: Lato, sans-serif;
  color: black;



}

form{
  font-family: Lato, sans-serif;
  color: black;
  
  font-size: 30px;
  display: block;
}